In [2]:
import pandas as pd
movies_data = pd.read_csv("movies.csv")
movies_data

    age  gender        genre
0    20       1       Action
1    23       1       Action
2    25       1       Action
3    26       1       Sci-Fi
4    29       1       Sci-Fi
5    30       1       Sci-Fi
6    31       1        Drama
7    33       1        Drama
8    37       1        Drama
9    20       0       Comedy
10   21       0       Comedy
11   25       0       Comedy
12   26       0  Documentary
13   27       0  Documentary
14   30       0  Documentary
15   31       0        Drama
16   34       0        Drama
17   35       0        Drama